/*Formatação DeskTop*/

@media (min-width: 801px) {

    *{
        list-style: none;
        color: #ffffff;
        text-decoration: none;
    }

    body {
        height: 100vh;
        min-height: 100%;
        font-family: 'Poppins', sans-serif;
        background-color: #001c2b;
        margin: 0;
    }
    
    main {
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    main::-webkit-scrollbar { 
        display: none; 
    }

    .mobile-menu {
        display: none;
    }

    .menu-background {
        display: none;
    }

    .div_inp {
        display: none;
    }

    .tt_cab2 {
        display: none;
    }

    .inp {
        display: none;
    }

    .insta_lg {
        display: none;
    }

    .voltar_ant {
        display: none;
    }

    .menu-background {
        display: none;
    }

    .list_cell {
        display: none;
    }

    .excluir-x {
        display: none;
    }
    
    .cabecalho {
        background-color: rgb(0, 0, 0);
        background-size: cover;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
    
    .cab1 {
        display: flex;
        align-items: center;
        
        padding: 0px 80px 0px 80px;
    }
    
    .ads {
        height: 40px;
    }
    
    .adss {
        width: 50px;
    }
    
    .input_d {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    .input_d input {
        width: 160px;
        height: 27px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: rgba(139, 139, 139, 0.233);
    }
    
    .input_d input[type="text"] {
        color: #ffffff;
        padding-left: 10px;
    }
    
    .input_d input[type="text"]:focus {
        background-color: #ffffff83;
        border:  solid 1px #ffffff;
        
    }
    
    .input_d input[type="text"]:focus::placeholder {
        color: #ffffff;
    }
    
    .input_d input::placeholder {
        color: #ffffff;
        font-size: 15px;
    }
    
    .input_d button {
        position: absolute;
        background-color: transparent;
        height: 28px;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .input_d button:hover {
        background-color: #126383;
        color: #ffffff;
        border-radius: 0px 10px 10px 0px;
        
    }
    
    .ads, .input_d {
        width: 200px;
    }

    .menu-overlay {
        display: none;
    }
    
    .elements_list {
        flex-grow: 1;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .elements_list ul {
        list-style: none;
    }
    
    .nao_ordenada {
        display: flex;
        justify-content: center;
        transform: translateX(-20px);
    }
    
    .nao_ordenada li:not(:first-child) {
        margin-left: 20px;
    }
    .list_itens a {
        font-size: 18px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    /*cabeçalho cor*/
    
    .list_itens .inicio_text {
        color: #1999cc;
        border-bottom: 0.1rem solid #126383;
    }
    
    .list_itens .atletica_text {
        color: #1999cc;
        border-bottom: 0.1rem solid #126383;
    }
    
    .list_itens .noticias_text {
        color: #1999cc;
        border-bottom: 0.1rem solid #126383;
    }
    
    .list_itens .sobre_text {
        color: #1999cc;
        border-bottom: 0.1rem solid #126383;
    }
    
    .conteudo {
        padding: 80px 80px 0px 80px;
    }
    
    .conteudo p {
        color: #ffffff;
        font-size: 18px;
        text-align: justify;
    }
    
    .titulo_principal {
        text-align: center;
        color: #00ffd5;
        font-size: 30px;
    }
    
    .sobre {
        display: flex;
        padding: 0px 80px 0px 80px;
        justify-content: space-between;
        margin-top: 80px;
    }
    
    .div_sobre {
        width: 30%;
        background-color: #00000073;
        border-radius: 5px;
        border: solid 1px #126383;
    }
    
    .div_sobre p {
        color: #ffffff;
        text-align: justify;
        padding: 20px;
    }
    
    .div_sobre h2 {
        text-align: center;
        color: #ff7b00;
    }
    
    .sec_videos {
        width: 100%;
        padding: 0px 80px 0px 80px;
    }

    
    footer {
        background-color: #070d22;
        height: 190px;
    }
    .div_rs {
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        padding-top: 20px;
    }

    .sociais {
        width: 50px;
        display: flex;
        justify-content: space-around;
    }
    
    .sociais i {
        display: grid;
        color: #000000;
        background-color: #ffffff;
        width: 35px;
        height: 35px;
        font-size: 20px;
        place-items: center;
        border-radius: 50%;
        text-decoration: none;
    }

    .sociais i:hover {
        opacity: 0.8;
        color: #0b9bd4;
    }

    .footer_top {
        background-color: #126383;
        width: 100%;
        height: 10px;
    }

    footer p {
        text-align: center;
        line-height: 0.7;
    }

    footer p a {
        color: #0b9bd4;
        text-decoration: underline;
    }

    .copy {
        opacity: 0.8;
    }


}

  /*Formatação Dispositivos moveis*/

@media (max-width: 800px) {

    * {
        color: #ffffff;
        border: none;
        background: none;
        text-decoration: none;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    body {
        overflow-y: auto;
        -ms-overflow-style: none;
        
        font-family: 'Poppins', sans-serif;
        background-color: #001c2b;
        margin: 0;
        padding-bottom: 1px;
    }

    main::-webkit-scrollbar { 
        display: none; 
    }

    .elements_list {
        display: none;
    }

    .menu-overlay {
        display: none;
    }
    .menu-overlay.active {
        display: flex;
    }
    
    .menu-background {
        display: none;
    }

    .nav_list {
        position: fixed; 
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: #001c2b;
        z-index: 2000;
        padding-left: 10%;
        width: 30%;
        padding-top: 8%;
        height: 100%;
        display: none;
        border-right: solid 1px #ffffff5d;
    }

    .nav_list li {
        margin-bottom: 30px;
    }

    .nav_list li a{
        font-size: 18px;
    }

    .nav_list li a:active {
        opacity: 0.5;
        border-bottom: solid 1px #ffffff;
    }

    .closee {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        border: solid 1px #fff;
        border-radius: 5px;
    }

    .closee:active {
        background-color: #ffffff;
        opacity: 0.5;
    }

    .closee i {
        font-size: 25px;
        display: flex;
    }

    .closee i:active {
        color: #000000;
    }

    .nav-appear {
        opacity: 0;
        transform: translatex(-20px);
        transition: opacity 0.5s, transform 0.5s;
    }
    .nav-appear-active {
        opacity: 1;
        transform: translatex(0);
    }

    .mobile-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        left: 20px;
        top: 25px;
        width: 27px;
        height: 27px;
        z-index: 1050;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        
    }

    .mobile-menu img {
        width: 27px;
    }

    .insta_lg {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: end;
        background-color: transparent;
        right: 20px;
        top: 30px;
        width: 27px;
        height: 27px;
        z-index: 1010;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .insta_lg img {
        width: 27px;
    }

    .menu-background {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 1111;
    }

    .cabecalho {
        width: 100%;
        z-index: 1000;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        padding-bottom: 0px;
        background-color: rgb(0, 0, 0);
    }

    #cab1 {
        display: none;
    }

    .cab2 {
        position: fixed;
        display: grid;
        background-color: rgb(0, 0, 0);
        border: none;
        width: 100%;
        padding-top: 10px;
        height: 55px;
        align-items: center;
        z-index: 1000;
    }

    .tt_cab2 {
        text-align: center;
        font-size: 18px;
        color: #1999cc;
    }

    .inp button {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        right: 20px;
        top: 25px;
        width: 27px;
        height: 27px;
        z-index: 1011;
        background: none;
        border: none;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
    }

    .div_inp {
        position: fixed;
        width: 100%;
        height: 50px;
        padding-top: 10px;
        background-color: #000000;
        z-index: 1100;
        justify-content: center;
        display: none;
    }

    .menu_inp {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 90;
        margin-top: 55px;
    }

    .inputtt {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }
    
    .inputtt input {
        width: 230px;
        height: 31px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: rgba(139, 139, 139, 0.233);
    }
    
    .inputtt input[type="text"] {
        color: #ffffff;
        padding-left: 10px;
    }
    
    .inputtt input[type="text"]:focus {
        background-color: #ffffff83;
        border:  solid 1px #ffffff;
        
    }
    
    .inputtt input[type="text"]:focus::placeholder {
        color: #ffffff;
        font-size: 15px;
    }
    
    .inputtt input::placeholder {
        color: #ffffff;
    }

    .excluir-x {
        margin: 0;
        padding: 0;
        position: absolute;
        margin-right: 30px;
        height: 30px;
        display: flex;
        text-align: center;
        align-items: center;
        display: none;
    }

    .excluir-x::after {
        content: '';
        height: 70%;
        border-left: solid 1px #ffffff38;
    }

    .excluir-x i {
        display: flex;
        font-size: 25px;
        align-self: center;
        opacity: 0.8;
        cursor: pointer;
    }
    
    .inputtt button {
        position: absolute;
        background-color: transparent;
        height: 31px;
        width: 30px;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .inputtt button:active {
        background-color: #ffffff62;
        color: #ffffff;
        border-radius: 0px 10px 10px 0px;
        
    }

    .inputtt button i:active {
        color: #001c2b;
    }

    .ads {
        display: grid;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 25px;
    }

    .ads a img {
        width: 45px;
        margin-top: 0;
    }

    .input_d {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 10%;
        margin-top: 8%;
        width: 100%;
    }
    
    .input_d input {
        display: grid;
        justify-content: center;
        width: 240px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: rgba(139, 139, 139, 0.233);
    }
    
    .input_d input[type="text"] {
        color: #ffffff;
        padding-left: 15px;
    }
    
    .input_d input[type="text"]:focus {
        background-color: #ffffff83;
        border:  solid 1px #ffffff;
        
    }
    
    .input_d input[type="text"]:focus::placeholder {
        color: #ffffff;
        font-size: 15px;
    }
    
    .input_d input::placeholder {
        color: #ffffff;
        font-size: 15px;
    }
    
    .input_d button {
        position: absolute;
        background-color: transparent;
        height: 40px;
        width: 30px;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .input_d button:active {
        background-color: #ffffff63;
        border-radius: 0px 10px 10px 0px;
        
    }

    .input_d button i:active {
        color: #001c2b;
    }

    .conteudo {
        margin-top: 135px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        display: grid;
        text-align: justify;
    }

    .conteudo h1 {
        text-align: center;
    }

    .conteudo h1 {
        color: #126383;
    }

    .sobre {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sobre {
        display: grid;
    }
    
    .div_sobre {
        background-color: #00000073;
        border-radius: 5px;
        border: solid 1px #126383;
        margin-bottom: 20px;
    }
    
    .div_sobre p {
        color: #ffffff;
        text-align: justify;
        padding: 20px;
    }
    
    .div_sobre h2 {
        text-align: center;
        color: #ff7b00;
    }

    .bt_variavel {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        left: 90%;
        top: 15px;
        width: 25px;
        height: 25px;
        z-index: 2;
        border: none;
        font-size: 17px;
    }

    .voltar_ant {
        position: fixed;
        background-color: #126383;
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 25px;
        z-index: 200;
        margin-top: 60px;
        border-radius: 5px;
        left: 5%;
    }

    .voltar_ant:active {
        opacity: 0.5;
        color: #ffffff5b;
    }

    footer {
        background-color: #070d22;
        height: 180px;
    }
    .div_rs {
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        padding-top: 10px;
    }

    .sociais {
        width: 50px;
        display: flex;
        justify-content: space-around;
    }
    
    .sociais i {
        display: grid;
        color: #000000;
        background-color: #ffffff;
        width: 35px;
        height: 35px;
        font-size: 20px;
        place-items: center;
        border-radius: 50%;
        text-decoration: none;
    }

    .sociais i:active {
        opacity: 0.8;
        color: #0b9bd4;
    }

    .footer_top {
        background-color: #126383;
        width: 100%;
        height: 10px;
    }

    footer p {
        text-align: center;
        line-height: 2;
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer p a {
        color: #0b9bd4;
        text-decoration: underline;
    }

    .footer_turma {
        line-height: 1.2;
    }

    .copy {
        opacity: 0.8;
    }

}
